<h1>시리즈(Series) 살펴보기</h1>
- 판다스에서 데이터를 저장하는 자료 구조 중 하나  

- 동일한 타입의 데이터를 연속된 메모리 공간에 저장 함  

- 구성 : 인덱스 + 데이터
  
- 생성 : Series() 생성자 메서드

(1) 모듈 로딩 ----------------------------

In [4]:
import pandas as pd

(2) 시리즈 객체 생성 ---------------------

In [5]:
# 객체 생성에 사용되는 메서드 => 생성자(Constructor)
# 데이터 타입과 동일한 이름의 메서드 => Series()
sr=pd.Series([11,22,33])

In [6]:
sr

0    11
1    22
2    33
dtype: int64

Series 객체의 속성(attributes)/필드(field) 살펴보기
- 기본 : data, index,dtype
- 읽기 : 객체변수명, 속성명
- 쓰기 : 객체변수명, 속성명 = 새로운 값

In [7]:
sr.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
sr.values

array([11, 22, 33])

In [9]:
# array([11,22,33], dtype=int64)

In [10]:
# 시리즈 객체의 인덱스 변경
sr.index=[100, 200, 300]

In [11]:
sr

100    11
200    22
300    33
dtype: int64

In [12]:
sr.index=['A','B','C']
sr

A    11
B    22
C    33
dtype: int64

In [13]:
# sr.values=[777,888,999]
# sr

- 시리즈 객체의 요소 데이터/값 제어  
    - 읽기 : 객체변수명[인덱스]
    - 쓰기 : 객체변수명[인덱스] = 새로운 값

In [14]:
sr['A']

11

In [15]:
sr['A'] = 2024

In [16]:
sr

A    2024
B      22
C      33
dtype: int64

In [17]:
sr.index

Index(['A', 'B', 'C'], dtype='object')

In [18]:
sr[0]

2024

In [19]:
type(sr[0])

numpy.int64

In [20]:
sr.index=[11,22,33]

In [21]:
sr.index

Index([11, 22, 33], dtype='int64')

In [22]:
# sr[0]

In [23]:
for idx in sr.index:
    print(idx, sr[idx])
    sr[idx] = sr[idx]+1

11 2024
22 22
33 33

In [24]:
sr.index=['1','2','3']

In [25]:
sr['1'],sr[0]

(2025, 2025)

In [26]:
# 정수형 숫자로 라벨 인덱스 변경
sr[1]

23

In [27]:
# 숫자 라벨 인덱스 지정하면 정수 위치 인덱스 => 정수 위치 인덱스 사용 불가!
sr.index=[1,2,3]
# sr[0]

[ 다양한 Series 객체 생성 ]

(1) 모듈 로딩

In [28]:
import pandas as pd

### (2) Series 객체 생성 - 방법 1
- Series( data, index=지정)

In [29]:
sr1 = pd.Series([11,22,33], index=['one', 'two', 'three'])

In [30]:
sr1

one      11
two      22
three    33
dtype: int64

### (2) Series 객체 생성 - 방법 2

In [31]:
sr1 = pd.Series([11,22,33], index=['one', 'two', 'three'], name='jumsu')
sr1

one      11
two      22
three    33
Name: jumsu, dtype: int64

### (2) Series 객체 생성 - 방법 3

In [32]:
sr1=pd.Series([11,22,33], index=['one', 'two', 'three'], name='type', dtype='uint8')  #uint8은 0~128까지
sr1

one      11
two      22
three    33
Name: type, dtype: uint8

### (2) Series 객체 생성 - 방법 4 => 저장되는 데이터 dict

In [33]:
data = {'data':'홍길동', 'age':12, 'job':'도적'}

sr1 = pd.Series(data)
sr1

data    홍길동
age      12
job      도적
dtype: object

key가 전부 index가 됨

In [34]:
# 속성 확인하기
print(sr1.index, sr1.values, sep='\n')

Index(['data', 'age', 'job'], dtype='object')
['홍길동' 12 '도적']

In [35]:
sr1.index, sr1.values
# 문자열과 숫자가 함께 있기 때문에 dtype이 object가 됨

(Index(['data', 'age', 'job'], dtype='object'),
 array(['홍길동', 12, '도적'], dtype=object))

### (2) Series 객체 생성 - 방법 5 => 저장되는 데이터 set

In [36]:
# data = {'홍길동', 12, '도적') #순서 없는 데이터, 중복 불허

# sr1 = pd.Series(data)
# sr1

In [37]:
data = {'홍길동', 12, '도적'} #순서 없는 데이터, 중복 불허

# 형변환 후 객체 생성 가능
sr1 = pd.Series(list(data), index=[1,2,3] )
sr1

1     도적
2     12
3    홍길동
dtype: object

[ Series 객체 원소 인덱싱 & 슬라이싱 ]

(1) 모듈 로딩 -------------------------------

In [38]:
from pandas import Series

(2) 데이터 준비 -------------------------------

In [39]:
datas = {'name':'홍길동', 'age':12, 'job':'도적'}

(3) Series 객체 생성 -------------------------------

In [40]:
sr1 = Series(datas)

In [41]:
sr1

name    홍길동
age      12
job      도적
dtype: object

(4) 인덱싱으로 원소 읽기 -------------------------------

=> 1개 원소 읽기

In [42]:
sr1['age'], sr1[1], sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

=> 2
개 원소 읽기

In [43]:
# 이름과 직업 데이터 읽기 ==> 원소 단위
sr1['name'],sr1['job'],sr1[0],sr1[2]

('홍길동', '도적', '홍길동', '도적')

In [44]:
a = [1,2,3]
b = (11,22,33)

In [45]:
a[0], type(a[0]), a[:1], type(a[:1])

(1, int, [1], list)

In [46]:
# 이름과 직업 데이터 읽기 ==> 리스트 단위로 읽기 ==> 시리즈로 나옴
ret=sr1[['name','job']]
ret2=sr1[[0,2]]
type(ret),ret

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

In [47]:
type(ret2),ret2

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

 - 위치 인덱스로 슬라이싱 -------------------------

In [48]:
sr1[:-2]

name    홍길동
dtype: object

In [49]:
sr1[:-1]

name    홍길동
age      12
dtype: object

In [50]:
sr1[1:]

age    12
job    도적
dtype: object

- 레이블 인덱스로 슬라이싱 -------------------------

In [51]:
sr1['name':'job']       # 시작 <= ~ <= 끝 (포함됨, 닫힌 구간)

name    홍길동
age      12
job      도적
dtype: object

In [52]:
sr1['name':'age']       # 시작 <= ~ <= 끝 (포함됨, 닫힌 구간)

name    홍길동
age      12
dtype: object

In [53]:
type(one)

NameError: name 'one' is not defined

In [ ]:
df1.iloc[0]

In [ ]:
zero = df1.iloc[0]

In [ ]:
type(zero)

(6) 모든 원소를 한 번에 한 개씩만 출력

In [ ]:
df1

In [ ]:
df1.iloc[0]

In [ ]:
one = df1.loc['one']
one
for i in range(2):
    print(one[i])

In [ ]:
for i in list(df1.index):
    for j in list(df1.columns):
        print(df1[j][i]) # col, row

- 객체변수명.iloc[행 인덱스, 열 인덱스] / 객체변수명.loc[행레이블, 열 인덱스 or 열 레이블]

In [ ]:
df1.iloc[0,0], df1.iloc[0,1], df1.iloc[0,2]

In [ ]:
df1.loc['one',0]

In [ ]:
df1.loc['one',0], df1.loc['one', 1], df1.loc['one',2], df1.loc['two',0], df1.loc['two',1], df1.loc['two',2]

In [ ]:
df1.columns=['A','B','C']
df1

In [ ]:
df1.loc['one']['B'], df1.loc['two']['C']

In [ ]:
for i in range(2):
    print(df1.iloc[i])

In [ ]:
df1.iloc[0]

In [ ]:
df1.iloc[0, 1], df1.iloc[1,2]

In [ ]:
df1.iloc[0][1], df1.iloc[1][2]

In [ ]:
zero = df1.iloc[0]
zero

In [ ]:
b=df1['B']
b

개-멍청하다 진짜....
for문 안에 print() 안해서 안 나오다니

In [ ]:
df1.index, df1.columns

In [ ]:
df1.shape[0], df1.shape[1]

- iloc를 활용한 모든 원소 출력 == 행과 열의 번호 필요

In [ ]:
for row in range(df1.shape[0]):
    # print(row)
    for col in range(df1.shape[1]):
        # print(row, col)
        print(df1.iloc[row][col])

In [ ]:
for i in range(df1.shape[0]):
    for j in range(df1.shape[1]):
        print(df1.iloc[i][j])

- loc를 활용한 모든 원소 출력 ==> 행 레이블/이름과 열 레이블/이름 필요

In [ ]:
df1.index, df1.columns

In [ ]:
for i in df1.index:
    for j in df1.columns:
        print(df1.loc[i][j], end=' ')

#### [ 문제 ] one, three 행을 선택 후 저장

In [ ]:
data1 = [[11, 22, 33], [44, 55, 66], [77, 88, 99] ]
data1 = DataFrame(data1)
data1

In [ ]:
data1.columns=['A','B','C']
data1.index=['one', 'two', 'three']
data1

In [ ]:
d1 = data1.loc[['one', 'three']]
d1

In [ ]:
d2 = data1.loc[['one']]
d2

In [ ]:
d3 = data1.loc['one']
d3

In [ ]:
data = [[11, 22, 33], [44, 55, 66], [77, 88, 99]]
df1 = DataFrame(data, ["one", "two", "three"], ["A", "B", "C"])
df1