# [ Series 데이터 연산]

### <hr> (1) 모듈로딩

In [63]:
import pandas as pd
import numpy as np
#import math as m ==>m.nan

### <hr> (2) 데이터 준비

In [64]:
data =[5,7, np.nan, 9, 11]
data

[5, 7, nan, 9, 11]

### <hr> (3) 데이터 저장 => 1차원 데이터로 Series에 저장

In [65]:
sr = pd.Series(data)

### <hr> (4) 데이터 확인

In [66]:
sr.index, sr.shape, sr.ndim, sr.dtypes

(RangeIndex(start=0, stop=5, step=1), (5,), 1, dtype('float64'))

In [67]:
sr.info(), sr.describe()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      float64
dtypes: float64(1)
memory usage: 172.0 bytes

(None,
 count     4.000000
 mean      8.000000
 std       2.581989
 min       5.000000
 25%       6.500000
 50%       8.000000
 75%       9.500000
 max      11.000000
 dtype: float64)

In [68]:
sr.values

array([ 5.,  7., nan,  9., 11.])

### <hr> (5) 연산 수행 => Series 객체 - 연산자 - 숫자

In [69]:
sr+5

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

In [70]:
sr-5

0    0.0
1    2.0
2    NaN
3    4.0
4    6.0
dtype: float64

In [71]:
sr*5

0    25.0
1    35.0
2     NaN
3    45.0
4    55.0
dtype: float64

In [72]:
sr/5

0    1.0
1    1.4
2    NaN
3    1.8
4    2.2
dtype: float64

In [73]:
sr//5

0    1.0
1    1.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [74]:
sr%5

0    0.0
1    2.0
2    NaN
3    4.0
4    1.0
dtype: float64

In [75]:
sr>=5

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [76]:
sr<10

0     True
1     True
2    False
3     True
4    False
dtype: bool

- 논리연산 => & : and연산, | : or연산, ~ : not연산

In [77]:
# and, or, not 못 쓰고 &, |, ~ 사용 가능
(sr>5) & (sr<10)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [78]:
(sr>5) | (sr<10)

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [79]:
~(sr<5)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [80]:
type(sr[2])

numpy.float64

### <hr> (5) 연산 수행 => Series 객체 + Series 객체

In [81]:
data2 =[2,4,6,8,9]
data2

[2, 4, 6, 8, 9]

In [82]:
sr2=pd.Series(data2)
sr2

0    2
1    4
2    6
3    8
4    9
dtype: int64

In [83]:
print(sr+sr2, sr-sr2, sr*sr2, sr/sr2, sr//sr2, sr%sr2, sep='\n\n')

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

0    10.0
1    28.0
2     NaN
3    72.0
4    99.0
dtype: float64

0    2.500000
1    1.750000
2         NaN
3    1.125000
4    1.222222
dtype: float64

0    2.0
1    1.0
2    NaN
3    1.0
4    1.0
dtype: float64

0    1.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [84]:
print(sr>sr2, sr<sr2, sep='\n\n')

0     True
1     True
2    False
3     True
4     True
dtype: bool

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [85]:
sr2.index=[2,3,4,5,6]
sr2

2    2
3    4
4    6
5    8
6    9
dtype: int64

In [86]:
print(sr2.reset_index(),sr2.reset_index(drop=True), sep='\n\n')

   index  0
0      2  2
1      3  4
2      4  6
3      5  8
4      6  9

0    2
1    4
2    6
3    8
4    9
dtype: int64

In [87]:
sr+sr2

0     NaN
1     NaN
2     NaN
3    13.0
4    17.0
5     NaN
6     NaN
dtype: float64

In [88]:
sr=sr.reset_index(drop=True)
sr2=sr2.reset_index(drop=True)
sr+sr2

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

### <hr> (5) Series 연산수행 => 전용 메서드

In [91]:
print(sr.add(5), sr.add(5,fill_value=0), sep='\n\n')

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

0    10.0
1    12.0
2     5.0
3    14.0
4    16.0
dtype: float64

In [92]:
print(sr.sub(sr2), sr.sub(sr2,fill_value=0), sep='\n\n')

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

0    3.0
1    3.0
2   -6.0
3    1.0
4    2.0
dtype: float64

In [96]:
addSR = sr.add(sr2, fill_value=0)
subSR = sr.sub(sr2, fill_value=0)
mulSR = sr.mul(sr2, fill_value=0)
divSR = sr.div(sr2, fill_value=0)

In [97]:
print(addSR, subSR, mulSR, divSR, sep="\n\n")

0     7.0
1    11.0
2     6.0
3    17.0
4    20.0
dtype: float64

0    3.0
1    3.0
2   -6.0
3    1.0
4    2.0
dtype: float64

0    10.0
1    28.0
2     0.0
3    72.0
4    99.0
dtype: float64

0    2.500000
1    1.750000
2    0.000000
3    1.125000
4    1.222222
dtype: float64

### <hr> (6) Series 연산수행 => 전용 메서드

In [103]:
df=pd.DataFrame([addSR, subSR, mulSR, divSR], index=['add', 'sub', 'mul', 'div'])

In [104]:
df

        0      1    2       3          4
add   7.0  11.00  6.0  17.000  20.000000
sub   3.0   3.00 -6.0   1.000   2.000000
mul  10.0  28.00  0.0  72.000  99.000000
div   2.5   1.75  0.0   1.125   1.222222

- DataFrame와 숫자 연산 수행

In [106]:
print(df+5, df-5, sep= '\n\n')

        0      1     2       3           4
add  12.0  16.00  11.0  22.000   25.000000
sub   8.0   8.00  -1.0   6.000    7.000000
mul  15.0  33.00   5.0  77.000  104.000000
div   7.5   6.75   5.0   6.125    6.222222

       0      1     2       3          4
add  2.0   6.00   1.0  12.000  15.000000
sub -2.0  -2.00 -11.0  -4.000  -3.000000
mul  5.0  23.00  -5.0  67.000  94.000000
div -2.5  -3.25  -5.0  -3.875  -3.777778

In [107]:
print(df+5, df-5, sep= '\n\n')

        0      1     2       3           4
add  12.0  16.00  11.0  22.000   25.000000
sub   8.0   8.00  -1.0   6.000    7.000000
mul  15.0  33.00   5.0  77.000  104.000000
div   7.5   6.75   5.0   6.125    6.222222

       0      1     2       3          4
add  2.0   6.00   1.0  12.000  15.000000
sub -2.0  -2.00 -11.0  -4.000  -3.000000
mul  5.0  23.00  -5.0  67.000  94.000000
div -2.5  -3.25  -5.0  -3.875  -3.777778

- DataFrame과 DataFrame 연산 수행 => 동일 위치에 원소끼리 연산 수행

In [111]:
df2 = df*10
df2

         0      1     2       3           4
add   70.0  110.0  60.0  170.00  200.000000
sub   30.0   30.0 -60.0   10.00   20.000000
mul  100.0  280.0   0.0  720.00  990.000000
div   25.0   17.5   0.0   11.25   12.222222

In [113]:
print(df+df2, df*df2, sep='\n\n')

         0       1     2        3            4
add   77.0  121.00  66.0  187.000   220.000000
sub   33.0   33.00 -66.0   11.000    22.000000
mul  110.0  308.00   0.0  792.000  1089.000000
div   27.5   19.25   0.0   12.375    13.444444

          0         1      2            3             4
add   490.0  1210.000  360.0   2890.00000   4000.000000
sub    90.0    90.000  360.0     10.00000     40.000000
mul  1000.0  7840.000    0.0  51840.00000  98010.000000
div    62.5    30.625    0.0     12.65625     14.938272

In [116]:
df.index, df.columns

(Index(['add', 'sub', 'mul', 'div'], dtype='object'),
 RangeIndex(start=0, stop=5, step=1))

In [117]:
df2.index, df2.columns

(Index(['add', 'sub', 'mul', 'div'], dtype='object'),
 RangeIndex(start=0, stop=5, step=1))

In [119]:
df2.index=['add', 'minus', 'mul', '/']

In [120]:
print(df+df2, df*df2, sep='\n\n')

           0      1     2      3       4
/        NaN    NaN   NaN    NaN     NaN
add     77.0  121.0  66.0  187.0   220.0
div      NaN    NaN   NaN    NaN     NaN
minus    NaN    NaN   NaN    NaN     NaN
mul    110.0  308.0   0.0  792.0  1089.0
sub      NaN    NaN   NaN    NaN     NaN

            0       1      2        3        4
/         NaN     NaN    NaN      NaN      NaN
add     490.0  1210.0  360.0   2890.0   4000.0
div       NaN     NaN    NaN      NaN      NaN
minus     NaN     NaN    NaN      NaN      NaN
mul    1000.0  7840.0    0.0  51840.0  98010.0
sub       NaN     NaN    NaN      NaN      NaN

- 연산 수행 메소드 활용 => 결측치 즉 NaN 빈칸에 대한 처리를 수행 가능
    * fill_value 파라미터에 값 설정

In [123]:
df.add(df2, fill_value=0)

           0       1     2        3            4
/       25.0   17.50   0.0   11.250    12.222222
add     77.0  121.00  66.0  187.000   220.000000
div      2.5    1.75   0.0    1.125     1.222222
minus   30.0   30.00 -60.0   10.000    20.000000
mul    110.0  308.00   0.0  792.000  1089.000000
sub      3.0    3.00  -6.0    1.000     2.000000

In [124]:
df.add(df2)

           0      1     2      3       4
/        NaN    NaN   NaN    NaN     NaN
add     77.0  121.0  66.0  187.0   220.0
div      NaN    NaN   NaN    NaN     NaN
minus    NaN    NaN   NaN    NaN     NaN
mul    110.0  308.0   0.0  792.0  1089.0
sub      NaN    NaN   NaN    NaN     NaN