# [ Series 데이터 연산]

### <hr> (1) 모듈로딩

In [63]:
import pandas as pd
import numpy as np
#import math as m ==>m.nan

### <hr> (2) 데이터 준비

In [64]:
data =[5,7, np.nan, 9, 11]
data

[5, 7, nan, 9, 11]

### <hr> (3) 데이터 저장 => 1차원 데이터로 Series에 저장

In [65]:
sr = pd.Series(data)

### <hr> (4) 데이터 확인

In [66]:
sr.index, sr.shape, sr.ndim, sr.dtypes

(RangeIndex(start=0, stop=5, step=1), (5,), 1, dtype('float64'))

In [67]:
sr.info(), sr.describe()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      float64
dtypes: float64(1)
memory usage: 172.0 bytes

(None,
 count     4.000000
 mean      8.000000
 std       2.581989
 min       5.000000
 25%       6.500000
 50%       8.000000
 75%       9.500000
 max      11.000000
 dtype: float64)

In [68]:
sr.values

array([ 5.,  7., nan,  9., 11.])

### <hr> (5) 연산 수행 => Series 객체 - 연산자 - 숫자

In [69]:
sr+5

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

In [70]:
sr-5

0    0.0
1    2.0
2    NaN
3    4.0
4    6.0
dtype: float64

In [71]:
sr*5

0    25.0
1    35.0
2     NaN
3    45.0
4    55.0
dtype: float64

In [72]:
sr/5

0    1.0
1    1.4
2    NaN
3    1.8
4    2.2
dtype: float64

In [73]:
sr//5

0    1.0
1    1.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [74]:
sr%5

0    0.0
1    2.0
2    NaN
3    4.0
4    1.0
dtype: float64

In [75]:
sr>=5

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [76]:
sr<10

0     True
1     True
2    False
3     True
4    False
dtype: bool

- 논리연산 => & : and연산, | : or연산, ~ : not연산

In [77]:
# and, or, not 못 쓰고 &, |, ~ 사용 가능
(sr>5) & (sr<10)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [78]:
(sr>5) | (sr<10)

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [79]:
~(sr<5)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [80]:
type(sr[2])

numpy.float64

### <hr> (5) 연산 수행 => Series 객체 + Series 객체

In [81]:
data2 =[2,4,6,8,9]
data2

[2, 4, 6, 8, 9]

In [82]:
sr2=pd.Series(data2)
sr2

0    2
1    4
2    6
3    8
4    9
dtype: int64

In [83]:
print(sr+sr2, sr-sr2, sr*sr2, sr/sr2, sr//sr2, sr%sr2, sep='\n\n')

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

0    10.0
1    28.0
2     NaN
3    72.0
4    99.0
dtype: float64

0    2.500000
1    1.750000
2         NaN
3    1.125000
4    1.222222
dtype: float64

0    2.0
1    1.0
2    NaN
3    1.0
4    1.0
dtype: float64

0    1.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [84]:
print(sr>sr2, sr<sr2, sep='\n\n')

0     True
1     True
2    False
3     True
4     True
dtype: bool

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [85]:
sr2.index=[2,3,4,5,6]
sr2

2    2
3    4
4    6
5    8
6    9
dtype: int64

In [86]:
print(sr2.reset_index(),sr2.reset_index(drop=True), sep='\n\n')

   index  0
0      2  2
1      3  4
2      4  6
3      5  8
4      6  9

0    2
1    4
2    6
3    8
4    9
dtype: int64

In [87]:
sr+sr2

0     NaN
1     NaN
2     NaN
3    13.0
4    17.0
5     NaN
6     NaN
dtype: float64

In [88]:
sr=sr.reset_index(drop=True)
sr2=sr2.reset_index(drop=True)
sr+sr2

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

### <hr> (5) Series 연산수행 => 전용 메서드

In [91]:
print(sr.add(5), sr.add(5,fill_value=0), sep='\n\n')

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

0    10.0
1    12.0
2     5.0
3    14.0
4    16.0
dtype: float64

In [92]:
print(sr.sub(sr2), sr.sub(sr2,fill_value=0), sep='\n\n')

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

0    3.0
1    3.0
2   -6.0
3    1.0
4    2.0
dtype: float64

In [96]:
addSR = sr.add(sr2, fill_value=0)
subSR = sr.sub(sr2, fill_value=0)
mulSR = sr.mul(sr2, fill_value=0)
divSR = sr.div(sr2, fill_value=0)

In [97]:
print(addSR, subSR, mulSR, divSR, sep="\n\n")

0     7.0
1    11.0
2     6.0
3    17.0
4    20.0
dtype: float64

0    3.0
1    3.0
2   -6.0
3    1.0
4    2.0
dtype: float64

0    10.0
1    28.0
2     0.0
3    72.0
4    99.0
dtype: float64

0    2.500000
1    1.750000
2    0.000000
3    1.125000
4    1.222222
dtype: float64