[ Series 객체 원소 인덱싱 & 슬라이싱 ]

(1) 모듈 로딩 -------------------------------

In [7]:
from pandas import Series

(2) 데이터 준비 -------------------------------

In [13]:
datas = {'name':'홍길동', 'age':12, 'job':'도적'}

(3) Series 객체 생성 -------------------------------

In [12]:
sr1 = Series(datas)

In [10]:
sr1

name    홍길동
age      12
job      도적
dtype: object

(4) 인덱싱으로 원소 읽기 -------------------------------

=> 1개 원소 읽기

In [14]:
sr1['age'], sr1[1], sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

=> 2
개 원소 읽기

In [16]:
# 이름과 직업 데이터 읽기 ==> 원소 단위
sr1['name'],sr1['job'],sr1[0],sr1[2]

('홍길동', '도적', '홍길동', '도적')

In [19]:
a = [1,2,3]
b = (11,22,33)

In [21]:
a[0], type(a[0]), a[:1], type(a[:1])

(1, int, [1], list)

In [27]:
# 이름과 직업 데이터 읽기 ==> 리스트 단위로 읽기 ==> 시리즈로 나옴
ret=sr1[['name','job']]
ret2=sr1[[0,2]]
type(ret),ret

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

In [40]:
type(ret2),ret2

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

 - 위치 인덱스로 슬라이싱 -------------------------

In [33]:
sr1[:-2]

name    홍길동
dtype: object

In [35]:
sr1[:-1]

name    홍길동
age      12
dtype: object

In [39]:
sr1[1:]

age    12
job    도적
dtype: object

- 레이블 인덱스로 슬라이싱 -------------------------

In [41]:
sr1['name':'job']       # 시작 <= ~ <= 끝 (포함됨, 닫힌 구간)

name    홍길동
age      12
job      도적
dtype: object

In [42]:
sr1['name':'age']       # 시작 <= ~ <= 끝 (포함됨, 닫힌 구간)

name    홍길동
age      12
dtype: object