[ 다양한 Series 객체 생성 ]

(1) 모듈 로딩

In [4]:
import pandas as pd

### (2) Series 객체 생성 - 방법 1
- Series( data, index=지정)

In [7]:
sr1 = pd.Series([11,22,33], index=['one', 'two', 'three'])

In [9]:
sr1

one      11
two      22
three    33
dtype: int64

### (2) Series 객체 생성 - 방법 2

In [12]:
sr1 = pd.Series([11,22,33], index=['one', 'two', 'three'], name='jumsu')
sr1

one      11
two      22
three    33
Name: jumsu, dtype: int64

### (2) Series 객체 생성 - 방법 3

In [17]:
sr1=pd.Series([11,22,33], index=['one', 'two', 'three'], name='type', dtype='uint8')  #uint8은 0~128까지
sr1

one      11
two      22
three    33
Name: type, dtype: uint8

### (2) Series 객체 생성 - 방법 4 => 저장되는 데이터 dict

In [27]:
data = {'data':'홍길동', 'age':12, 'job':'도적'}

sr1 = pd.Series(data)
sr1

data    홍길동
age      12
job      도적
dtype: object

key가 전부 index가 됨

In [22]:
# 속성 확인하기
print(sr1.index, sr1.values, sep='\n')

Index(['data', 'age', 'job'], dtype='object')
['홍길동' 12 '도적']

In [24]:
sr1.index, sr1.values
# 문자열과 숫자가 함께 있기 때문에 dtype이 object가 됨

(Index(['data', 'age', 'job'], dtype='object'),
 array(['홍길동', 12, '도적'], dtype=object))

### (2) Series 객체 생성 - 방법 5 => 저장되는 데이터 set

In [30]:
# data = {'홍길동', 12, '도적') #순서 없는 데이터, 중복 불허

# sr1 = pd.Series(data)
# sr1

In [33]:
data = {'홍길동', 12, '도적'} #순서 없는 데이터, 중복 불허

# 형변환 후 객체 생성 가능
sr1 = pd.Series(list(data), index=[1,2,3] )
sr1

1     도적
2    홍길동
3     12
dtype: object