# [ 중복 데이터 처리 ]
    - 중복 데이터 기준 ==> 행(row)
    - 행 단위로 모든 컬럼의 값이 완전히 똑같은 데이터는 중복 데이터
    - 처리 => 제거

## <hr> (1) 모듈 로딩

In [6]:
import pandas as pd

## <hr> (2) 데이터 준비

In [7]:
file = '../DATA/employees.csv'

## <hr> (3) 데이터 저장 : CSV => DataFrame 저장하기

In [9]:
empDF = pd.read_csv(file)

## <hr> (4) 데이터 확인

In [10]:
empDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    object
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: float64(1), object(5)
memory usage: 47.1+ KB

## <hr> (5) 데이터 전처리 = 나. 중복 데이터 처리

#### - 중복 데이터 체크 => duplicated() : 중복이면 True
#### - 중복 데이터 처리 => drop_duplicated() : 삭제

In [12]:
# 행 단위로 완전히 똑같은 행 검사 ==> 0개
empDF.duplicated().sum()

0

In [14]:
# Team 컬럼
empDF["Team"].duplicated().sum()
#empDF["Team"].nunique()를 제외한 값

990

In [28]:
# Team 컬럼
empDF.Team.duplicated().sum(), empDF["Team"].nunique()

(990, 10)

In [29]:
empDF["Team"].drop_duplicates()

0        Marketing
1              NaN
2          Finance
4               IT
5            Legal
6          Product
8      Engineering
9     Business Dev
12              HR
13           Sales
40    Distribution
Name: Team, dtype: object

In [30]:
empDF["Team"].drop_duplicates(keep='first') # 첫 째만 살림

0        Marketing
1              NaN
2          Finance
4               IT
5            Legal
6          Product
8      Engineering
9     Business Dev
12              HR
13           Sales
40    Distribution
Name: Team, dtype: object

In [31]:
empDF["Team"].drop_duplicates(keep='last') # 마지막만 살림

988               HR
989            Legal
990               IT
993      Engineering
994        Marketing
995     Distribution
996          Finance
997          Product
998     Business Dev
999            Sales
1000             NaN
Name: Team, dtype: object

In [33]:
empDF["Team"].drop_duplicates(keep=False) # 다 지움

Series([], Name: Team, dtype: object)

In [27]:
empDF["Team"].count()

957

#### - 멀티인덱스 데이터 읽기 => loc/xs

In [36]:
# df2.loc[('홍길동', '010')] 멀티인덱스 '홍길동', '010 일떄
# df2.loc[('홍길동']        가능
# df2.loc[('010')]        불가능
# df2.xs('010', level=1)  가능

#### - 행 추가
    * 단일 인덱스 => loc[새로운 행레이블/이름]=새로운값
    * 멀티 인덱스 => loc[새로운 행레이블/이름, 컬럼명]=새로운값

In [37]:
# df2.loc[('홍길동','017')]= '소방관' 일 때는 컬럼으로 들어감
# df2.loc[('홍길동','017'), 'job']='소방관' 으로 컬럼명을 지정해야 가능

#### - 컬럼 추가

In [ ]:
# df2['age']=[30,29,28,27,26] 부여하고 모자란 값이 있다면 NaN이 됨
# df2.loc[('홍길동', '010'), :]=[1,2,3,4,5]
#              ㄴ인덱스명     ㄴ컬럼명 다 입력하는 대신 슬라이싱
# df2.sort_index() 로 마지막 정렬