# 2장

In [2]:
%config Completer.use_jedi = False

## 2.1

In [3]:
import pandas as pd
import numpy as np

### 2.1.1

In [4]:
pd.Series()

Series([], dtype: object)

### 2.1.2

In [5]:
ice_cream_flavors=[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [6]:
# 다음 두 줄은 결과가 동일합니다.
pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [7]:
pd.Series(data = ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

### 2.1.3

In [8]:
ice_cream_flavors=[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")

# 다음 두 줄은 결과가 동일합니다.
pd.Series(ice_cream_flavors,days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [9]:
pd.Series(data = ice_cream_flavors, index=days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [10]:
ice_cream_flavors=[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday")

# 다음 두 줄은 결과가 동일합니다.
pd.Series(ice_cream_flavors,days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [11]:
ice_cream_flavors=[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday")

# 다음 두 줄은 결과가 동일합니다.
pd.Series(data = ice_cream_flavors, index=days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [12]:
pd.Series(index = days_of_week, data = ice_cream_flavors)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [13]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [14]:
stock_prices = [985.32, 950.44]
time_of_day = ["Open", "Close"]
pd.Series(data=stock_prices, index = time_of_day)

Open     985.32
Close    950.44
dtype: float64

In [15]:
lucky_numbers = [4,8,15,16,23,42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [16]:
lucky_numbers = [4,8,15,16,23,42]
pd.Series(lucky_numbers, dtype="float")

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

### 2.1.4

In [17]:
temperatures = [94, 88, np.nan, 91]
pd.Series(data=temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

## <hr> 2.2

In [18]:
calorie_info = {
    "cereal":125,
    "Chocolate Bar":406,
    "Ice Cream Sundae":342,
}

diet = pd.Series(calorie_info)
diet

cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [19]:
pd.Series(data = ("Red", "Green", "Blue"))

0      Red
1    Green
2     Blue
dtype: object

In [20]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(data = rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [21]:
my_set = {"Ricky", "Bobby"}
# pd.Series(my_set)           #TypeError

In [22]:
pd.Series(list(my_set))

0    Ricky
1    Bobby
dtype: object

In [23]:
random_data=np.random.randint(1,101,10)
random_data

array([82, 25, 18, 32, 54, 49,  2, 11, 57, 48])

In [24]:
pd.Series(random_data)

0    82
1    25
2    18
3    32
4    54
5    49
6     2
7    11
8    57
9    48
dtype: int64

## 2.3

In [25]:
diet.values

array([125, 406, 342])

In [26]:
type(diet.values)

numpy.ndarray

In [27]:
diet.index

Index(['cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [28]:
type(diet.index)

pandas.core.indexes.base.Index

In [29]:
diet.dtype

dtype('int64')

In [30]:
diet.size

3

In [31]:
diet.shape

(3,)

In [32]:
diet.is_unique

True

In [33]:
pd.Series(data = [3,3]).is_unique

False

In [34]:
pd.Series(data = [1,3,6]).is_monotonic_increasing

True

In [35]:
pd.Series(data = [1,6,3]).is_monotonic_decreasing

False

## 2.4

In [36]:
values = range(0,500,5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [37]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [38]:
nums.head(n=3)

0     0
1     5
2    10
dtype: int64

In [39]:
nums.head()

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [40]:
nums.tail(6)

94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

In [41]:
nums.tail()

95    475
96    480
97    485
98    490
99    495
dtype: int64

## 2.5

### 2.5.1

In [42]:
numbers = pd.Series([1,2,3, np.nan, 4,5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [43]:
numbers.count()

5

In [44]:
numbers.sum()

15.0

In [45]:
numbers.sum(skipna = False)

nan

In [46]:
numbers.sum(min_count=3)

15.0

In [47]:
numbers.sum(min_count=6)

nan

In [48]:
numbers.product()

120.0

In [49]:
numbers.product(skipna=False)

nan

In [50]:
numbers.product(min_count=3)

120.0

In [51]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [52]:
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [53]:
numbers.cumsum(skipna = False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [54]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [55]:
numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [56]:
# 1-NaN / NaN
# 2-1 / 1
# 3-2 / 2
# 3-3 / 3
# 4-3 / 3(결측값 대체) .......?
# 5-4 / 4(결측값 대체로 밀림) .......?

In [57]:
# 아래 세 줄은 결과가 동일합니다.
numbers.pct_change()
# 마지막 관측값을 NaN자리로 대체 하는 것을 명시하지 않음

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [58]:
numbers.pct_change(fill_method="pad")
# 마지막 관측값을 NaN자리로 대체 하는 것을 명시

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [59]:
numbers.pct_change(fill_method="ffill")
# 마지막 관측값을 NaN자리로 대체 하는 것을 명시

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [60]:
numbers.mean()

3.0

In [61]:
numbers.median()

3.0

In [62]:
numbers.std()
# 표준편차

1.5811388300841898

In [63]:
numbers.max()

5.0

In [64]:
numbers.min()

1.0

In [65]:
animals = pd.Series(["Koala", "aardvark", "zebra"])
animals

0       Koala
1    aardvark
2       zebra
dtype: object

In [66]:
animals.max()

'zebra'

In [67]:
animals.min()

'Koala'

In [68]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [69]:
numbers.sample(3)

0    1.0
4    4.0
1    2.0
dtype: float64

In [70]:
authors = pd.Series(
["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"])
authors.unique()

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [71]:
authors.nunique()

4

### 2.5.2

In [72]:
s1 = pd.Series(data = [5, np.nan, 15], index= ["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [73]:
s1+3

A     8.0
B     NaN
C    18.0
dtype: float64

In [74]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [75]:
# 아래 세 줄은 결과가 동일합니다.
s1-5

A     0.0
B     NaN
C    10.0
dtype: float64

In [76]:
s1.sub(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [77]:
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [78]:
# 아래 세 줄은 결과가 동일합니다.
s1 * 2

A    10.0
B     NaN
C    30.0
dtype: float64

In [79]:
s1.mul(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [80]:
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [81]:
# 아래 세 줄은 결과가 동일합니다.
s1 / 2

A    2.5
B    NaN
C    7.5
dtype: float64

In [82]:
s1.div(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [83]:
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [84]:
# 다음 두 줄은 결과가 동일합니다.
s1 //4

A    1.0
B    NaN
C    3.0
dtype: float64

In [85]:
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [86]:
# 다음 두 줄은 결과가 동일합니다.
s1 % 3

A    2.0
B    NaN
C    0.0
dtype: float64

In [87]:
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

### 2.5.3

In [88]:
s1 = pd.Series([1,2,3], index=["A", "B", "C"])
s2 = pd.Series([4,5,6], index=["A", "B", "C"])
s1 +s2

A    5
B    7
C    9
dtype: int64

In [89]:
s1 = pd.Series(data = [3, 6, np.nan, 12])
s2 = pd.Series(data = [2, 6, np.nan, 12])
s1 ==s2

0    False
1     True
2    False
3     True
dtype: bool

In [90]:
s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool

In [91]:
# 다음 두 줄은 결과가 동일합니다.
s1 != s2

0     True
1    False
2     True
3    False
dtype: bool

In [92]:
s1.ne(s2)

0     True
1    False
2     True
3    False
dtype: bool

In [93]:
s1 = pd.Series(
data = [5, 10, 15], index = ["A","B","C"])
s2 = pd.Series(
data = [4,8,12,14], index = ["B", "C", "D", "E"])

In [94]:
s1+ s2

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

## 2.6

In [95]:
cities = pd.Series(
data = ["San Francisco", "Los Angeles", "Las Vegas", np.nan])
len(cities)

4

In [96]:
type(cities)

pandas.core.series.Series

In [97]:
dir(cities)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [98]:
list(cities)

['San Francisco', 'Los Angeles', 'Las Vegas', nan]

In [99]:
dict(cities)

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las Vegas', 3: nan}

In [100]:
cities

0    San Francisco
1      Los Angeles
2        Las Vegas
3              NaN
dtype: object

In [101]:
"Las Vegas" in cities

False

In [102]:
2 in cities

True

In [103]:
"Las Vegas" in cities.values

True

In [104]:
100 not in cities

True

In [105]:
"paris" not in cities.values

True

# 2장 과제

In [ ]:
superheroes = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    
]

# <hr> <hr> 4

## 4.1

In [106]:
import pandas as pd
import numpy as np

### 4.1.1

In [107]:
city_data={
    "City":["New York City","Paris","Barcelona","Rome"],
    "Country":["United States","France","Spain","Italy"],
    "Population":pd.Series([8600000,2141000,5515000,2873000])}
                           
cities = pd.DataFrame(city_data)
cities

            City        Country  Population
0  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

In [108]:
# 다음 두 줄은 결과가 동일합니다.
cities.transpose()

                        0        1          2        3
City        New York City    Paris  Barcelona     Rome
Country     United States   France      Spain    Italy
Population        8600000  2141000    5515000  2873000

In [109]:
cities.T

                        0        1          2        3
City        New York City    Paris  Barcelona     Rome
Country     United States   France      Spain    Italy
Population        8600000  2141000    5515000  2873000

### 4.1.2

In [110]:
random_data = np.random.randint(1, 101, [3, 5])
random_data

array([[87, 44, 57, 66,  6],
       [89, 45, 82, 35, 82],
       [56, 96, 85, 55,  7]])

In [111]:
pd.DataFrame(data = random_data)

    0   1   2   3   4
0  87  44  57  66   6
1  89  45  82  35  82
2  56  96  85  55   7

In [112]:
row_labels=["Morning","Afternoon","Evening"]
temperatures=pd.DataFrame(data=random_data, index=row_labels)
temperatures

            0   1   2   3   4
Morning    87  44  57  66   6
Afternoon  89  45  82  35  82
Evening    56  96  85  55   7

In [113]:
row_labels=["Morning","Afternoon","Evening"]
column_labels = (
"Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
pd.DataFrame(
data = random_data,
index = row_labels,
columns = column_labels)

           Monday  Tuesday  Wednesday  Thursday  Friday
Morning        87       44         57        66       6
Afternoon      89       45         82        35      82
Evening        56       96         85        55       7

In [114]:
row_labels=["Morning","Afternoon","Morning"]
column_labels = (
"Monday", "Tuesday", "Wednesday", "Tuesday", "Friday")
pd.DataFrame(
data = random_data,
index = row_labels,
columns = column_labels)

           Monday  Tuesday  Wednesday  Tuesday  Friday
Morning        87       44         57       66       6
Afternoon      89       45         82       35      82
Morning        56       96         85       55       7

## 4.2

### 4.2.1

In [115]:
pd.read_csv("nba.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'nba.csv'

In [ ]:
pd.read_csv("nba.csv", parse_dates= ["Birthday"])

In [ ]:
nba = pd.read_csv("nba.csv", parse_dates= ["Birthday"])

### 4.2.2

In [ ]:
pd.Series([1,2,3]).dtype

In [ ]:
nba.dtypes

In [ ]:
nba.dtypes.value_counts

In [ ]:
nba.index

In [ ]:
nba.columns

In [ ]:
nba.ndim

In [ ]:
nba.shape

In [ ]:
nba.size

In [ ]:
nba.count()

In [ ]:
nba.count().sum()

In [ ]:
data = {
    "A":[1, np.nan],
    "B":[2,3]
}

df = pd.DataFrame(data)
df

In [ ]:
df.size

In [ ]:
df.count()

In [ ]:
df.count().sum()

### 4.2.3

In [ ]:
nba.head(2)

In [ ]:
nba.tail(n=3)

In [ ]:
nba.tail()

In [ ]:
nba.sample(3)

In [ ]:
nba.nunique()

In [ ]:
nba.max()

In [ ]:
nba.min()

In [ ]:
nba.nlargest(n=4, columns="Salary")

In [ ]:
nba.nsmallest(n=3, columns=["Birthday"])

In [ ]:
nba.sum(numeric_only = True)

In [ ]:
nba.mean(numeric_only=True)

In [ ]:
nba.median(numeric_only=True) # 중앙값

In [ ]:
nba.mode(numeric_only=True)  #최빈값

In [ ]:
nba.std(numeric_only=True)

## 4.3

### 4.3.1

In [ ]:
# 다음 두 줄은 결과가 동일합니다.
nba.sort_values("Name")

In [ ]:
nba.sort_values(by="Name")

In [ ]:
nba.sort_values("Name", ascending=False).head()

In [ ]:
nba.sort_values("Birthday", ascending=False).head()

### 4.3.2

In [ ]:
nba.sort_values(by = ["Team", "Name"])

In [ ]:
nba.sort_values(["Team", "Name"], ascending=False)

In [ ]:
nba.sort_values(["Team", "Salary"], ascending=[True, False])

In [ ]:
nba = nba.sort_values(
by = ["Team", "Salary"],
ascending = [True, False])
nba

## 4.4

In [ ]:
nba.head()

In [ ]:
### 4.4.1

In [ ]:
# 다음 두 줄은 결과가 동일합니다.
nba.sort_index().head()

In [ ]:
nba.sort_index(ascending=True).head()

In [ ]:
nba = nba.sort_index()
nba

### 4.4.2

In [ ]:
# 다음 두 줄은 결과가 동일합니다.
nba.sort_index(axis = "columns").head()

In [ ]:
nba.sort_index(axis = 1).head()

## 4.5

In [ ]:
# 다음 두 줄은 결과가 동일합니다.
nba.set_index(keys = "Name")

In [ ]:
nba.set_index("Name")

In [ ]:
nba = nba.set_index(keys = "Name")
nba

## 4.6

### 4.6.1

In [ ]:
nba.Salary

In [ ]:
nba["Position"]

In [ ]:
# nba["Player Position"]

In [ ]:
# nba.Player Position

### 4.6.2

In [ ]:
nba[["Salary", "Birthday"]].head()

In [ ]:
nba[["Birthday", "Salary"]].head()

In [ ]:
nba.select_dtypes(include = "object")

In [ ]:
nba.select_dtypes(exclude = ["object", "int"])

## 4.7

### 4.7.1

In [ ]:
nba.loc["LeBron James"]

In [ ]:
nba.loc[["Kawhi Leonard", "Paul George"]]

In [ ]:
nba.loc[["Paul George", "Kawhi Leonard"]]

In [ ]:
nba.sort_index().loc["Otto Porter":"Patrick Beverley"]

In [ ]:
players = ["Otto Porter", "PJ Dozier", "PJ Washington"]
players[0:2]

In [ ]:
nba.sort_index().loc["Zach Collins":]

In [ ]:
nba.sort_index().loc[:"Al Horford"]

In [ ]:
# nba.loc["Bugs Bunny"]  # KeyError

### 4.7.2

In [ ]:
nba.iloc[300]

In [ ]:
nba.iloc[[100, 200, 300, 400]]

In [ ]:
nba.iloc[400:404]

In [ ]:
nba.iloc[:2]

In [ ]:
nba.iloc[447:]

In [ ]:
nba.iloc[-10:-6]

In [ ]:
nba.iloc[0:10:2]

### 4.7.3

In [ ]:
nba.loc["Giannis Antetokounmpo", "Team"]

In [ ]:
nba.loc["James Harden", ["Position", "Birthday"]]

In [ ]:
nba.loc[
    ["Russell Westbrook", "Anthony Davis"],
    ["Team", "Salary"]
]

In [ ]:
nba.loc["Joel Embiid", "Position":"Salary"]

In [ ]:
nba.iloc[57, 3]

In [ ]:
nba.iloc[100:104,:3]

In [ ]:
nba.at["Austin Rivers", "Birthday"]

In [ ]:
nba.iat[263, 1]

In [ ]:
%%timeit
nba.at["Austin Rivers", "Birthday"]

In [ ]:
%%timeit
nba.loc["Austin Rivers", "Birthday"]

In [ ]:
%%timeit
nba.iat[263, 1]

In [ ]:
%%timeit
nba.iloc[263, 1]

## 4.8

In [ ]:
nba["Salary"].loc["Damian Lillard"]

In [ ]:
nba["Salary"].at["Damian Lillard"]

In [ ]:
nba["Salary"].iloc[234]

In [ ]:
nba["Salary"].iat[234]

## 4.9

In [ ]:
nba.columns

In [ ]:
nba.columns = ["Team", "Position", "Date of Birth", "Pay"]
nba.head(1)

In [ ]:
nba.rename(columns = {"Date of Birth":"Birthday"})

In [ ]:
nba = nba.rename(columns = {"Date of Birth":"Birthday"})
nba

In [ ]:
nba.loc["Giannis Antetokounmpo"]

In [ ]:
nba = nba.rename(
index = {"Giannis Antetokounmpo" : "Greek Freak"})

In [ ]:
nba.loc["Greek Freak"]

## 4.10

In [ ]:
nba.set_index("Team").head()

In [ ]:
nba.reset_index().head()

In [ ]:
nba.reset_index().set_index("Team").head()

In [ ]:
nba = nba.reset_index().set_index("Team")
nba