# 2장

In [90]:
%config Completer.use_jedi = False

## 2.1

In [91]:
import pandas as pd
import numpy as np

### 2.1.1

In [92]:
pd.Series()

Series([], dtype: object)

### 2.1.2

In [93]:
ice_cream_flavors=[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [94]:
# 다음 두 줄은 결과가 동일합니다.
pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [95]:
pd.Series(data = ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

### 2.1.3

In [96]:
ice_cream_flavors=[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")

# 다음 두 줄은 결과가 동일합니다.
pd.Series(ice_cream_flavors,days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [97]:
pd.Series(data = ice_cream_flavors, index=days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [98]:
ice_cream_flavors=[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday")

# 다음 두 줄은 결과가 동일합니다.
pd.Series(ice_cream_flavors,days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [99]:
ice_cream_flavors=[
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]

days_of_week = ("Monday", "Wednesday", "Friday", "Wednesday")

# 다음 두 줄은 결과가 동일합니다.
pd.Series(data = ice_cream_flavors, index=days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [100]:
pd.Series(index = days_of_week, data = ice_cream_flavors)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [101]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [102]:
stock_prices = [985.32, 950.44]
time_of_day = ["Open", "Close"]
pd.Series(data=stock_prices, index = time_of_day)

Open     985.32
Close    950.44
dtype: float64

In [103]:
lucky_numbers = [4,8,15,16,23,42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [104]:
lucky_numbers = [4,8,15,16,23,42]
pd.Series(lucky_numbers, dtype="float")

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

### 2.1.4

In [105]:
temperatures = [94, 88, np.nan, 91]
pd.Series(data=temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

## <hr> 2.2

In [106]:
calorie_info = {
    "cereal":125,
    "Chocolate Bar":406,
    "Ice Cream Sundae":342,
}

diet = pd.Series(calorie_info)
diet

cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [107]:
pd.Series(data = ("Red", "Green", "Blue"))

0      Red
1    Green
2     Blue
dtype: object

In [108]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(data = rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [109]:
my_set = {"Ricky", "Bobby"}
# pd.Series(my_set)           #TypeError

In [110]:
pd.Series(list(my_set))

0    Bobby
1    Ricky
dtype: object

In [111]:
random_data=np.random.randint(1,101,10)
random_data

array([27, 38, 96, 74, 88, 36, 97, 93, 27, 56])

In [112]:
pd.Series(random_data)

0    27
1    38
2    96
3    74
4    88
5    36
6    97
7    93
8    27
9    56
dtype: int64

## 2.3

In [113]:
diet.values

array([125, 406, 342])

In [114]:
type(diet.values)

numpy.ndarray

In [115]:
diet.index

Index(['cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [116]:
type(diet.index)

pandas.core.indexes.base.Index

In [117]:
diet.dtype

dtype('int64')

In [118]:
diet.size

3

In [119]:
diet.shape

(3,)

In [120]:
diet.is_unique

True

In [121]:
pd.Series(data = [3,3]).is_unique

False

In [125]:
pd.Series(data = [1,3,6]).is_monotonic_increasing

True

In [126]:
pd.Series(data = [1,6,3]).is_monotonic_decreasing

False

## 2.4

In [127]:
values = range(0,500,5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [128]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [129]:
nums.head(n=3)

0     0
1     5
2    10
dtype: int64

In [130]:
nums.head()

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [131]:
nums.tail(6)

94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

In [132]:
nums.tail()

95    475
96    480
97    485
98    490
99    495
dtype: int64

## 2.5

### 2.5.1

In [134]:
numbers = pd.Series([1,2,3, np.nan, 4,5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [135]:
numbers.count()

5

In [136]:
numbers.sum()

15.0

In [137]:
numbers.sum(skipna = False)

nan

In [138]:
numbers.sum(min_count=3)

15.0

In [139]:
numbers.sum(min_count=6)

nan

In [140]:
numbers.product()

120.0

In [141]:
numbers.product(skipna=False)

nan

In [143]:
numbers.product(min_count=3)

120.0

In [144]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [145]:
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [146]:
numbers.cumsum(skipna = False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [147]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [148]:
numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [150]:
# 1-NaN / NaN
# 2-1 / 1
# 3-2 / 2
# 3-3 / 3
# 4-3 / 3(결측값 대체) .......?
# 5-4 / 4(결측값 대체로 밀림) .......?

In [151]:
# 아래 세 줄은 결과가 동일합니다.
numbers.pct_change()
# 마지막 관측값을 NaN자리로 대체 하는 것을 명시하지 않음

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [152]:
numbers.pct_change(fill_method="pad")
# 마지막 관측값을 NaN자리로 대체 하는 것을 명시

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [154]:
numbers.pct_change(fill_method="ffill")
# 마지막 관측값을 NaN자리로 대체 하는 것을 명시

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [155]:
numbers.mean()

3.0

In [156]:
numbers.median()

3.0

In [158]:
numbers.std()
# 표준편차

1.5811388300841898

In [159]:
numbers.max()

5.0

In [160]:
numbers.min()

1.0

In [162]:
animals = pd.Series(["Koala", "aardvark", "zebra"])
animals

0       Koala
1    aardvark
2       zebra
dtype: object

In [163]:
animals.max()

'zebra'

In [164]:
animals.min()

'Koala'

In [166]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [167]:
numbers.sample(3)

2    3.0
4    4.0
0    1.0
dtype: float64

In [170]:
authors = pd.Series(
["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"])
authors.unique()

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [171]:
authors.nunique()

4

### 2.5.2

In [172]:
s1 = pd.Series(data = [5, np.nan, 15], index= ["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [173]:
s1+3

A     8.0
B     NaN
C    18.0
dtype: float64

In [174]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [176]:
# 아래 세 줄은 결과가 동일합니다.
s1-5

A     0.0
B     NaN
C    10.0
dtype: float64

In [177]:
s1.sub(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [179]:
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [181]:
# 아래 세 줄은 결과가 동일합니다.
s1 * 2

A    10.0
B     NaN
C    30.0
dtype: float64